<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="<%= data.site.lang %>"><![endif]-->
<!--[if gt IE 8]<!-->
<html class="no-js" lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>
      <%= yield_content(:title).blank? ? data.site.title :  yield_content(:title) + " - " + data.site.title %>
    </title>

    <meta name="description" content="<%= yield_content(:description).blank? ? data.site.description : yield_content(:description)  %>">
    <meta name="keywords" content="<%= yield_content(:keywords).blank? ? data.site.keywords.join(',') : yield_content(:keywords) %>">
    <meta name="author" content="<%= data.site.author %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Pragmatic.ly Blog Feed" href="/feed.xml" />

    <%= stylesheet_link_tag 'application' %>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <%=  javascript_include_tag 'application' %>
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= data.site.google_analytics_id %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
  </head>

  <body class="<%= page_classes %>">
    <header id="header">
      <div class="container">
        <a href="https://pragmatic.ly" class="logo">Pragmatic.ly</a>

        <ul class="top-nav">
          <li><a href="https://pragmatic.ly/signup" rel="nofollow">
              Try Pragmatic.ly Now <i class="icon-chevron-right"></i>
          </a></li>
        </ul>
      </div>
    </header>

    <section class="main">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer id="footer">
      <div class="container">
        <ul class="footer-nav social-buttons">
          <li><a href="https://twitter.com/pragmatic_ly" class="social-twitter">Twitter</a></li>
          <li><a href="https://facebook.com/pragmaticly" class="social-facebook">Facebook</a></li>
          <li><a href="https://plus.google.com/109049203627299997967" class="social-google">Google+</a></li>
        </ul>
        <ul class="footer-nav">
          <li>© 2012-2013 Pragmatic.ly.</li>
          <li><a href="https://pragmatic.ly/about">About</a></li>
          <li><a href="mailto:support@pragmatic.ly">Contact</a></li>
        </ul>
      </div><!-- .container -->
    </footer>

    <!-- topics
      <span class="tag">Web</span>,
      <span class="tag">Mobile</span>,
      <span class="tag">Programming</span>,
      <span class="tag">Entreprenurship</span>,
      <span class="tag">Geeky</span>
     -->

    <%= javascript_include_tag 'main' %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5123d9651f2e6f1f"></script>
    <%= yield_content :footer %>
  </body>
</html>
