<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="<%= data.site.lang %>"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="<%= data.site.lang %>"><![endif]-->
<!--[if gt IE 8]<!-->
<html class="no-js" lang="zh">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8">

    <title>
      <%= yield_content(:title).blank? ? data.site.title :  yield_content(:title) + " - " + data.site.title %>
    </title>

    <meta name="description" content="<%= yield_content(:description).blank? ? data.site.description : yield_content(:description)  %>">
    <meta name="keywords" content="<%= yield_content(:keywords).blank? ? data.site.keywords.join(',') : yield_content(:keywords) %>">
    <meta name="author" content="<%= data.site.author %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="shortcut icon" sizes="16x16" href="/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Pragmatic.ly Blog Feed" href="/feed.xml" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript">var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= data.site.google_analytics_id %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
  </head>

  <body class="<%= page_classes %>">

    <header class="navbar navbar-fixed-top" role="banner">
      <div class="container">

        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="//Pragmatic.ly/" tabindex="-1">Pragmatic.ly</a>

        <nav class="nav-collapse collapse" role="navigation">
        <ul class="nav pull-right">
          <li><a href="//Pragmatic.ly/">首页</a></li>
          <li><a href="//Pragmatic.ly/tour">了解产品</a></li>
          <li><a href="//Pragmatic.ly/pricing">价格方案</a></li>
          <li><a class="login" data-target="#login-modal" data-toggle="modal" href="//Pragmatic.ly/login" role="button" type="button">登录</a></li>
          <li class="action"><a class="signup" href="//Pragmatic.ly/signup">免费注册</a></li>
        </ul>
        </nav>

      </div>
    </header>
    
    <section class="hero wrap-blue">
      <div class="container header">
        <% if yield_content(:cover).blank? %>
           <h1 class="blog-name">官方博客</h1>
           <p>我们一直在持续改进产品, 关注更新请<a href="/rss">订阅RSS</a></p>
        <% else %>
          <%= yield_content(:cover) %>
        <% end %>
      </div>
    </section>

    <section class="main">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer class="site-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="span2 offset2">
            <nav>
            <h5>网站相关</h5>
            <ul>
              <li><a href="//Pragmatic.ly/">首页</a></li>
              <li><a href="//Pragmatic.ly/tour">了解产品</a></li>
              <li><a href="//Pragmatic.ly/pricing">价格方案</a></li>
              <li><a href="//Pragmatic.ly/privacy">隐私政策</a></li>
              <li><a href="//Pragmatic.ly/terms">服务条款</a></li>
            </ul>
            </nav>
          </div>

          <div class="span2">
            <nav>
              <h5>服务支持</h5>
              <ul>
                <!--<li><a href="/help">帮助中心</a></li>-->
                <li><a href="//Pragmatic.ly/get-started">新手帮助</a></li>
                <li><a href="mailto:support@pragmatic.ly">联系我们</a></li>
              </ul>
            </nav>
          </div>

          <div class="span2">
            <nav>
              <h5>联系合作</h5>
              <ul>
                <li><a href="//Pragmatic.ly/about">关于我们</a></li>
                <li><a href="mailto:press@pragmatic.ly">合作伙伴</a></li>
                <li><a href="mailto:press@pragmatic.ly">媒体报道</a></li>
              </ul>
            </nav>
          </div>

          <div class="span2">
            <nav>
              <h5>关注我们</h5>
              <ul>
                <li><a href="http://blog.pragmatic.ly">官方博客</a></li>
                <li><a class="social-weibo" href="http://weibo.com/pragmaticly" target="_blank">微博</a></li>
                <li><a class="social-facebook" href="//facebook.com/pragmaticly" target="_blank">Facebook</a></li>
                <li><a class="social-twitter" href="//twitter.com/#!/pragmatic_ly" target="_blank">Twitter</a></li>
                <li><a class="social-google" href="//plus.google.com/109049203627299997967">Google+</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="copyright">
          <p>&copy; 2012-2013 Pragmatic.ly</p>
        </div>
      </div>
    </footer>

  </body>
</html>
